.page {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
	position: relative;

	&__label {
		position: absolute;
		right: 50px;
		top: 50px;
		z-index: 2;

		@media screen and (max-width: 768px) {
			width: 128px;
			height: 128px;
			margin-top: 40px;
		}

		@media screen and (max-width: 375px) {
			width: 94px;
			height: 94px;
			right: 20px;
			top: 25px;
			margin-top: 0;
		}
	}

	&__bg {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;

		@media screen and (max-width: 768px) {
		display: none;
		}
	}

	&__container {
		overflow: hidden;
	}
}