.subtitle {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 31px;
	letter-spacing: 0.3px;
	color: white;
	max-width: 386px;
	margin-top: 30px;

	@media screen and (max-width: 375px) {
		font-size: 14px;
		margin-top: 0;
	}

	&_samples {
		color: #1E3264;
		font-size: 20px;
		line-height: 29px;
		font-weight: 400;
		max-width: 457px;

		@media screen and (max-width: 375px) {
			font-size: 14px;
		}
		}
}